.buttonText{
  color: #ffffff;
  font-family: 'Verdana', serif;
  font-size:30px;
  font-weight:bold;
  line-height: 0;
  margin-top:0px;
}
.button{
  border:0;
  width: auto;
  height: 35px;
  background: linear-gradient(to bottom, #c2ab44, #797979 );
  border-radius: 15px;
  margin-right:auto;
}
.workout-name{
  display:flex;
  justify-content: center;
  font-size:xxx-large;
}
.frame{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:auto;
}
