h1, label, input, button{
  all:unset;
  box-sizing: border-box;
}
.input-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap:1rem;
}
.input-label{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  padding:0.5rem;
  gap:1rem;

  color:#000000;
  font-family: 'Verdana', serif;
  font-weight:bold;
  font-size:1.2rem;
}
.logForm{
  width: 30%;
  height:30rem;
  background: linear-gradient(to bottom, #c2ab44, #797979 );
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  padding:1.5rem;
}
input, select {
  width: 100%;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  max-width: 17rem;
  padding:1rem;
  font-size:1rem;
  font-style: normal;
}
button {
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  width: 200px;
  transition: 0.4s;
  font-size:24px;
  text-align:center;
}

.reg-button {
  color: hsl(0, 0%, 0%);
  background-color: rgba(255, 255, 255, 1);
  height: 2.5rem;
}

button:hover {
  color: black  ;
  box-shadow: 0 0 20px #ffffff;
  background: linear-gradient(to bottom, #c2ab44 ,  #e2cf7a  , #d6d6d6 );
}
.question-login{
  color:#ffffff;
  font-family: 'Verdana', serif;
  font-size:23px;
  font-weight:bold;
  line-height:0.9;
  font-style:italic;
}
.question-login a{
  text-decoration: none;
  color:White;
}
.log-in{
  color:#ffffff;
  font-family: 'Verdana', serif;
  font-size:64px;
  font-weight:bold;
  line-height:1;
  font-style:italic;
}
.login-background{
  background-image: url('../../assets/Images/background.png');
  background-size:cover;
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
  min-height: 100vh;
}
