.nav-logo{
  background-image:url('../assets/Images/logo.png');
  background-size:cover;
  width:7%;
  transition:all 0.3s ease-in-out;
  &:hover{
    transform:scale(1.1)
  }
}
nav {
  border-bottom:#c2ab44;
  margin-bottom: 18px;
  display:flex;
  align-items: center;
}
.button{
  border:0;
  width: 190px;
  height: 35px;
  background: linear-gradient(to bottom, #c2ab44, #797979 );
  padding: 20px;
  border-radius: 15px;
  margin-right:15px;
}
.buttonText{
  color: #ffffff;
  font-family: 'Verdana', serif;
  font-size:30px;
  font-weight:bold;
  line-height: 0;
  margin-top:0px;
}
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spacer {
  flex-grow: 1;
}
